{{>layouts/header}}
<div class="jumbotron">
    <h1>Article 조회</h1>
    <hr>
    <p>articles/show.mustache</p>
</div>
    {{#article}}
    <div class="container">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" name="title" class="form-control" id="article-title" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="article-content" rows="3">{{content}}</textarea>
        </div>
    </div>
    {{/article}}
    <div class="container">
        <a type="submit" class="btn btn-primary" href="/">목록으로</a>
    </div>

    <!-- 댓글 페이지 -->
    {{>comments/_comments}}
    <a href="/" class="btn btn-success btn-block">목록으로</a>
    <!-- ArticleJS for Ajax -->
    <Script src="/js/app/comment.js"></script>


{{>layouts/footer}}